<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Recommender</title>
</head>

<body>

    <div class="header">
        <h1>Recommendations</h1>
    </div>
    <div class="container">
        <div class="form-container">
            <h1>Where to go next?</h1>
            <form method="POST" action="/">

                <div class="form-group">
                    <label class="form-label">Describe your ideal place to visit:</label>
                    <textarea class="form-control" name="description" required></textarea>
                </div>
                
                <button type="submit" class="btn-submit">Find me a place!</button>
            </form>
        </div>

        <div class="card-container">
        {% if params["places"] %}
            <div class="cards-list">
            {% for place in params["places"] %}
            
                <div class="card-details">
                    
                    <div class="card">
                        <div class="card-header">
                            <h2>{{ place.place }}</h2>
                            <div class="similarity">Similarity: {{ "%0.2f" % (place.similarity_score*100)|float }} %</div>
                        </div>
                        <p id="city_name"> City: {{ place.city }}</p>
                            {% if place["type"] == 2 %}
                                <p>Distance: {{ "%0.2f" % place.distance|float }} km</p>
                            {% endif %}
                        <p>Sentimental Score: {{ "%0.2f" % place.compound|float }}</p>
                    </div>
                </div>
            
            {% endfor %}
            </div>
        {% endif %}
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>